# Level 2: SQL Basics â€“ Data Definition Language (DDL)

**Data Definition Language (DDL)** is the subset of SQL commands used to define and manage the structure of your database and its objects, like tables.

In this notebook, we will cover:
- `CREATE TABLE`: To create new tables.
- `ALTER TABLE`: To modify existing tables.
- `DROP TABLE`: To delete tables.

In [1]:
import sqlite3
import os

db_file = 'ddl_example.db'
if os.path.exists(db_file):
    os.remove(db_file)

conn = sqlite3.connect(db_file)
cursor = conn.cursor()

## 2.1 Creating Tables (`CREATE TABLE`)

The `CREATE TABLE` statement is used to create a new table. You must specify the table name and define its columns and each column's data type.

In [2]:
cursor.execute("""
CREATE TABLE students (
    student_id INTEGER, 
    first_name TEXT, 
    last_name TEXT, 
    birth_date REAL
);
""")
print("'students' table created.")

'students' table created.

### Common SQLite Data Types
- `INTEGER`: A whole number.
- `TEXT`: A string of text.
- `REAL`: A floating-point (decimal) number.
- `BLOB`: Binary Large Object, for storing raw binary data (e.g., images).
- `NUMERIC`: Can store values of any type.

## 2.2 Constraints

Constraints are rules enforced on the data columns of a table. They ensure the accuracy and reliability of the data.

In [3]:
cursor.execute("""
CREATE TABLE courses (
    course_id INTEGER PRIMARY KEY, -- Uniquely identifies each course
    course_name TEXT NOT NULL UNIQUE, -- Must have a value, and it must be unique
    credits INTEGER NOT NULL CHECK(credits > 0), -- Must be a positive number
    department TEXT DEFAULT 'General' -- Provides a default value if none is specified
);
""")
print("'courses' table with constraints created.")

'courses' table with constraints created.

## 2.3 Modifying Tables (`ALTER TABLE`)

The `ALTER TABLE` statement is used to add, delete, or modify columns in an existing table. **Note:** SQLite has limited support for `ALTER TABLE`. For example, you cannot `DROP` a column.

Let's add an `email` column to our `students` table.

In [4]:
cursor.execute("ALTER TABLE students ADD COLUMN email TEXT;")
print("Added 'email' column to 'students' table.")

Added 'email' column to 'students' table.

#### Workaround for Dropping a Column
To drop a column in SQLite, the standard workaround is:
1. Create a new table with the desired schema.
2. Copy the data from the old table to the new table.
3. Drop the old table.
4. Rename the new table to the original name.

## 2.4 Deleting Tables (`DROP TABLE`)

The `DROP TABLE` statement is used to permanently delete a table and all of its data.

In [5]:
cursor.execute("DROP TABLE students;")
print("'students' table dropped.")

'students' table dropped.

To avoid an error if the table doesn't exist, you can use `IF EXISTS`.

In [6]:
cursor.execute("DROP TABLE IF EXISTS students;")
print("DROP TABLE IF EXISTS executed successfully (no error).")

DROP TABLE IF EXISTS executed successfully (no error).

In [7]:
# Commit all the changes we've made in this session
conn.commit()

# Close the connection
conn.close()