# Level 3: SQL Basics â€“ Data Manipulation Language (DML)

**Data Manipulation Language (DML)** commands are used to manage data within tables. Once you have your table structure defined with DDL, you'll use DML to add, modify, and remove the actual data records.

In this notebook, we will cover:
- `INSERT`: To add new rows of data.
- `UPDATE`: To modify existing rows.
- `DELETE`: To remove rows.

### Setup
First, let's set up a clean database and create a `employees` table to work with.

In [3]:
import sqlite3
import os

db_file = 'dml_example.db'
if os.path.exists(db_file):
    os.remove(db_file)

conn = sqlite3.connect(db_file)
cursor = conn.cursor()

# Create an employees table
cursor.execute("""
CREATE TABLE employees (
    id INTEGER PRIMARY KEY, 
    name TEXT NOT NULL, 
    department TEXT, 
    salary REAL
);
""")
print("'employees' table created.")

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'dml_example.db'

## 3.1 Inserting Data (`INSERT INTO`)

The `INSERT INTO` statement is used to add new records to a table.

In [ ]:
# Syntax 1: Specify columns
cursor.execute("INSERT INTO employees (name, department, salary) VALUES (?, ?, ?);", 
               ('Alice', 'Engineering', 80000))

# Syntax 2: If providing all values in order, you can omit column names
# Note: We provide NULL for the primary key to let it auto-increment
cursor.execute("INSERT INTO employees VALUES (?, ?, ?, ?);", 
               (NULL, 'Bob', 'HR', 65000))

print("Inserted two employees.")

NameError: name 'NULL' is not defined

### Bulk Inserts with `executemany`
To insert multiple rows efficiently, use `executemany`.

In [4]:
new_employees = [
    ('Charlie', 'Sales', 75000),
    ('David', 'Engineering', 95000),
    ('Eva', 'Sales', 78000)
]

cursor.executemany("INSERT INTO employees (name, department, salary) VALUES (?, ?, ?);", new_employees)
print(f"Inserted {len(new_employees)} more employees.")

Inserted 3 more employees.

## 3.2 Updating Data (`UPDATE`)

The `UPDATE` statement is used to modify existing records in a table. **Always use a `WHERE` clause** with `UPDATE`, otherwise you will update all rows in the table!

In [5]:
# Give Alice a raise
cursor.execute("UPDATE employees SET salary = ? WHERE name = ?;", (85000, 'Alice'))
print("Updated Alice's salary.")

Updated Alice's salary.

In [6]:
# Give everyone in the Sales department a 5% raise
cursor.execute("UPDATE employees SET salary = salary * 1.05 WHERE department = ?;", ('Sales',))
print("Updated salaries for the Sales department.")

Updated salaries for the Sales department.

## 3.3 Deleting Data (`DELETE FROM`)

The `DELETE FROM` statement is used to remove existing records from a table. **Always use a `WHERE` clause** with `DELETE`, otherwise you will delete all records!

This is different from `DROP TABLE`, which removes the entire table structure. `DELETE` just removes the rows.

In [7]:
# Let's delete Bob from the table
cursor.execute("DELETE FROM employees WHERE name = ?;", ('Bob',))
print("Deleted Bob from the table.")

Deleted Bob from the table.

### Verifying our changes
Let's use a `SELECT` statement (which we'll learn more about in the next notebook) to see the final state of our table.

In [8]:
cursor.execute("SELECT * FROM employees ORDER BY id;")
rows = cursor.fetchall()

print("Final state of the 'employees' table:")
for row in rows:
    print(row)

Final state of the 'employees' table:
(1, 'Alice', 'Engineering', 85000.0)
(2, 'Charlie', 'Sales', 78750.0)
(3, 'David', 'Engineering', 95000.0)
(4, 'Eva', 'Sales', 81900.0)

In [9]:
# Commit all changes and close the connection
conn.commit()
conn.close()